.button {
	width: 100%;
	padding: 0.5rem 1rem;
	display: inline-block;
	text-decoration: none;

	border: none;
	border-radius: 0.5rem;

	font-size: 0.8rem;
	font-weight: bold;
	white-space: nowrap;
	text-transform: uppercase;

	color: var(--color-white);
	background-color: var(--color-tertiary);
	cursor: pointer;
}
